Repository emma2334/url-shortener: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier-package-json --write

chore: init client
  .eslintrc.json
  client/package.json
  client/public/favicon.ico
  client/public/index.html
  client/react-app-env.d.ts
  client/src/index.tsx
  client/tsconfig.json
  client/yarn.lock
  tsconfig.json
Due: prettier --write, eslint --fix, prettier-package-json --write

chore: init server
  client/package.json
  package.json
  server/.env.example
  server/config.ts
  server/index.ts
  server/package.json
  server/tsconfig.json
  server/yarn.lock
  yarn.lock
Due: prettier --write, eslint --fix, prettier-package-json --write

chore: add sequelize
  server/config.ts
  server/index.ts
  server/models.ts
  server/package.json
  server/yarn.lock
Due: prettier --write, eslint --fix, prettier-package-json --write

feat(api): create shorten url
  server/index.ts
  server/models.ts
  server/status.ts
Due: prettier --write, eslint --fix

feat: create redirection routing
  server/index.ts
  server/models.ts
  server/package.json
  server/views/404.pug
  server/views/template.pug
  server/yarn.lock
Due: prettier --write, eslint --fix, prettier-package-json --write

feat(api): add open graph metadata when creating shorten url
  server/features/url.ts
  server/index.ts
  server/models.ts
  server/package.json
  server/status.ts
  server/yarn.lock
Due: prettier --write, eslint --fix, prettier-package-json --write

feat(api): send og request only when creating shorten url
  server/features/url.ts
  server/status.ts
Due: prettier --write, eslint --fix

feat(redirection): apply og data to redirecting page
  server/features/url.ts
  server/index.ts
  server/views/template.pug
Due: prettier --write, eslint --fix

fix(redirection): change response status code to 200
  server/index.ts
Due: prettier --write, eslint --fix

feat(redirection): add view count
  server/features/url.ts
  server/index.ts
  server/models.ts
  server/status.ts
Due: prettier --write, eslint --fix

chore(server): add cors
  server/index.ts
  server/package.json
  server/yarn.lock
Due: prettier --write, eslint --fix, prettier-package-json --write

feat(client): create page to generate shorten url
  client/package.json
  client/src/index.tsx
  client/src/pages/Home.tsx
  client/src/react-app-env.d.ts
  client/src/reportWebVitals.ts
  client/src/utils/api.ts
  client/yarn.lock
  package.json
Due: prettier --write, eslint --fix, prettier-package-json --write

feat(api): add status to response code
  server/status.ts
Due: prettier --write, eslint --fix

feat(client): add api response alert
  client/src/components/ResponseAlert.tsx
  client/src/pages/Home.tsx
Due: prettier --write, eslint --fix

feat(client): show result of creating shorten url
  client/src/components/UrlInfo.tsx
  client/src/pages/Home.tsx
Due: prettier --write, eslint --fix

feat(client): show error message in alert
  client/src/components/ResponseAlert.tsx
Due: prettier --write, eslint --fix

feat(client): creat component UrlInput
  client/package.json
  client/react-app-env.d.ts
  client/src/components/UrlInput/index.module.css
  client/src/components/UrlInput/index.tsx
  client/src/pages/Home.tsx
Due: prettier --write, eslint --fix, prettier-package-json --write

feat(client): create layout
  client/src/App.module.css
  client/src/App.tsx
  client/src/components/Container/index.module.css
  client/src/components/Container/index.tsx
  client/src/components/UrlInput/index.tsx
  client/src/index.tsx
Due: prettier --write, eslint --fix

style: add background color to url info table
  client/src/components/UrlInfo.tsx
Due: prettier --write, eslint --fix

feat(client): separate dev and prod api base
  client/src/components/UrlInfo.tsx
  client/src/config.ts
  client/src/pages/Home.tsx
  client/src/utils/api.ts
Due: prettier --write, eslint --fix

chore: add README.md
  README.md
  package.json
Due: prettier --write, prettier-package-json --write

chore: add license
  LICENSE
  README.md
Due: none

chore: update README.md
  README.md
Due: none

chore: add structure description
  README.md
Due: none

chore: modify package dependencies
  client/package.json
  package.json
  server/package.json
Due: prettier --write, prettier-package-json --write

feat: serve static file from react on server
  package.json
  server/index.ts
Due: prettier --write, eslint --fix, prettier-package-json --write

chore: add Procfile
  Procfile
Due: none

fix: connect to heroku db
  server/models.ts
Due: prettier --write, eslint --fix

feat(client): handle request failure
  client/src/config.ts
  client/src/pages/Home.tsx
Due: prettier --write, eslint --fix

chore: update instruction
  Procfile
  README.md
  client/package.json
  client/public/index.html
  package.json
  server/package.json
Due: prettier --write, prettier-package-json --write

feat: update http response status codes on creat url api
  server/index.ts
Due: prettier --write, eslint --fix

feat: check input host
  server/features/url.ts
  server/index.ts
  server/status.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.css)) or (any of: *.json)
  eslint --fix: any of: *.{ts,tsx}
  prettier-package-json --write: any of: **/package.json
